@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

:root {
    --from-background: #ecf2ff;
    --to-background: #fcfdff;

    --foreground: #3f3f46;
    --text-color: #62636c;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --from-background: #18213c;
        --to-background: #121316;

        --foreground: #ededed;
        --text-color: #b0b4c6;
    }
} */

body {
    scroll-margin-top: 5rem;
    color: var(--foreground);
    /* background: var(--background); */
    /* Optional: full height */
    min-height: 100dvh;
    background: linear-gradient(
        to bottom,
        var(--from-background),
        var(--to-background)
    );
    font-family: "IRANYekanX", "Vazir", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--foreground);
    @apply text-2xl sm:text-3xl ss02;
}

p {
    color: var(--text-color);
    @apply text-sm sm:text-base ss02;
}

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-gray-300 w-1.5 h-1.5;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-gray-400;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-gray-400;
}

* {
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------------- */
/* General area */

.glass {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}

/* ---------------------------------------------------------------------- */
/* Vazir area */

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: normal;
    src: url("@/app/fonts/IRANYekanX/IRANYekanX-Regular.woff") format("woff"),
        url("@/app/fonts/IRANYekanX/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: bold;
    src: url("@/app/fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff"),
        url("@/app/fonts/IRANYekanX/IRANYekanX-Bold.woff2") format("woff2");
}

.ss02 {
    font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: normal;
    src: url("@/app/fonts/Vazir/Vazir-Regular-FD.woff") format("woff"),
        url("@/app/fonts/Vazir/Vazir-Regular-FD.woff2") format("woff2"),
        url("@/app/fonts/Vazir/Vazir-Regular-FD.ttf") format("ttf");
}

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: bold;
    src: url("@/app/fonts/Vazir/Vazir-Bold-FD.woff") format("woff"),
        url("@/app/fonts/Vazir/Vazir-Bold-FD.woff2") format("woff2"),
        url("@/app/fonts/Vazir/Vazir-Bold-FD.ttf") format("ttf");
}
